.open-sans { font-family: "Open Sans", serif; }
.josefin-sans { font-family: "Josefin Sans", serif; }
.margin-buttom { margin-bottom: 7%; }
.margin-top { margin-top: 7%; }
.w-20 { width: 25%; }
.w-30 { width: 30%; }
.w-75 { width: 75%; }
.w-85 { width: 85%; }
.font-w-600 { font-weight: 600; }
.font-w-700 { font-weight: 700; }
.font-s-08{ font-size: 0.875rem; }
.font-s-11{ font-size: 1.125rem; }
.font-s-12 { font-size: 1.2rem; }
.font-s-18 { font-size: 1.8rem; }
.font-s-2 { font-size: 2rem; }
.font-s-22 { font-size: 2.2rem; }
.font-s-25 { font-size: 2.5rem; }
.font-s-3 { font-size: 3rem; }
.font-s-35 { font-size: 3.5rem; }
.mx-auto1{ margin: 0 auto; }

.dropdown .dropdown-menu{ display: none; }
.dropdown:hover > .dropdown-menu, .dropend:hover > .dropdown-menu { display: block; margin-top: 0.125rem; }
.dropend:hover > .dropdown-menu{ position: absolute; top: 0; right: 100%; margin-left: 0.125rem; }
.dropdown-menu { border-radius: 0!important; border-top: 3px solid #007bff; }
.dropdown-hover>.dropdown-toggle:active { pointer-events: none; }   
.navbar .mega-menu { left: 0; right: 0; margin: 0 auto; width: 90%; max-width: 1200px; }
.mega-menu .list-group .list-group-item:first-child { font-size: 1.2rem; font-weight: 700; } 
.mega-menu .col-md-6.col-lg-3 { border-right: 1px solid #ddd; }
.list-group-item { border: none; }
.nav-link{ color: black!important; }

#hero img { height: 95vh; }
.carousel { position: relative; }
.indicators { position: absolute; right: 30px; top: 50%; transform: translateY(-50%); display: flex; flex-direction: column; }
.indicator { width: 10px; height: 10px; margin: 10px 10px; background-color: white; cursor: pointer; transition: opacity 0.3s, transform 0.3s; }
.carousel-caption1 { position: absolute; top: 50%; left: 50%; transform: translate(-50%, -50%); color: white; text-align: center; width: 100%; }
.carousel-caption1 p { width: 40%; margin: 0 auto; word-wrap: break-word; text-align: center; }

.get-start { padding: 1% 2.5%; position: relative; overflow: hidden; }
.get-start:before, .get-start:after { content: " "; position: absolute; top: 0; left: -150%; width: 150%; height: 100%; background-color: #fff; opacity: 0.2;
    transform: rotate(45deg); transition: all ease 1s; }
.get-start:hover:before { left: 100%; }

.styled-heading { display: flex; justify-content: center; align-items: center; margin-top: 20px; }
.styled-heading::before, .styled-heading::after { content: ""; position: relative; display: inline-block; height: 4px; width: 50px; background-color: #007bff;
    margin: 0 15px; }
.styled-heading::before { border-top: 3px solid #007bff; border-bottom: 1px solid #007bff; }
.styled-heading::after { border-top: 1px solid #007bff; border-bottom: 3px solid #007bff; }

.icons { padding: 40% 0; }
.abs { top: 26%; left: 12%; }
.hover-div:hover h5, .d-flex:hover .icons i { color: #007bff; }

#small-section { background-color: rgb(242, 242, 242); }
.small-section { padding: 5% 5%; }

#services { background-image: linear-gradient(
        rgba(0, 0, 0, 0.9), 
        rgba(0, 0, 0, 0.9)
      ), 
      url('img/service.jpg');
    background-size: cover; background-position: center; background-repeat: no-repeat; min-height: 100vh; display: flex; justify-content: center; align-items: center; }
.padding-x{ padding: 3% 5%; }  
.services-p { margin: 0 auto; }
.service-box { position: relative; overflow: hidden; border: 1px solid #ccc; border-radius: 10px; }
.service-box .overlay { position: absolute; bottom: 0; left: 0; width: 100%; height: 100%; background: rgba(255, 255, 255, 0.95); color: #000; display: flex;
    flex-direction: column; justify-content: center; align-items: center; text-align: center; padding: 20px; opacity: 0; transform: translateY(100%);
    transition: transform 0.3s ease, opacity 0.3s ease; border-radius: 10px; }
.service-box:hover .overlay { opacity: 1; transform: translateY(0); }
.service-box i, .service-box h4 { z-index: 1; transition: opacity 0.3s ease; }
.service-box:hover i, .service-box:hover h4 { opacity: 0; }

.filter { display: none; }
.filter.show { display: block; }
.filter-btn { color: inherit; border: none; outline: none; }
.filter-btn:hover { color: #007bff; }
.filter-btn.active { color: #007bff; border: none !important; outline: none; }

.work-item { position: relative; overflow: hidden; border-radius: 8px; }
.work-item img { width: 100%; display: block; transition: transform 0.5s ease; }
.work-overlay { position: absolute; bottom: 2%; left: 3%; width: 90%; height: 24%; background-color: rgba(0, 123, 255, 0.8); color: white; display: flex;
    align-items: center; justify-content: space-around; opacity: 0; transition: opacity 0.5s ease; }
.work-item:hover .work-overlay { opacity: 1; }
.work-category { font-size: 1.2rem; margin-bottom: 0.5rem; }
.work-title { font-size: 1.5rem; font-weight: bold; }
.work-icon { font-size: 2rem; margin-top: 0.5rem; }

#image { position: relative; height: 100vh; width: 100%; overflow: hidden; }
.full-image { width: 100%; height: 100%; object-fit: cover; object-position: center; }

.team-member { overflow: hidden; }
.team-member img { width: 100%; }
.team-member .info { position: absolute; bottom: 0; left: 0; right: 0; padding: 20px 0; height: 70px; overflow: hidden; transition: height 0.3s ease;}
.team-member .info h3, .team-member .info .title { margin: 0; padding: 0; }
.team-member:hover .info { height: 200px; }
.social-icons a { display: inline-block; margin: 0 5px; transition: color 0.3s ease;}
.team-member .info h3:hover { color: var(--bs-primary);}
.team-member .social-icons a { color: white; transition: color 0.3s ease;}
.team-member .social-icons a:hover {color: black !important;}

#per-month, #per-year p{ margin-bottom: 0; }
.toggle-btn { border-radius: 50px; border: 1px solid #007bff; display: inline-flex; overflow: hidden; width: 350px; }
.toggle-btn div { cursor: pointer; padding: 20px 20px; text-align: center; width: 100%; }
.toggle-btn .active { background-color: #007bff; color: white; }
.toggle-btn .inactive { background-color: white; color: #007bff; }
.toggle-content { display: none; }
.toggle-content.active { display: block; }
.get-started { padding: 1% 2.5%; position: relative; overflow: hidden; }
.get-started:before, .get-started:after { content: " "; position: absolute; top: 0; left: -150%; width: 150%; height: 100%; background-color:#007bff; opacity: 0.2;
    transform: rotate(45deg); transition: all ease 1s; }
.get-started:hover:before { left: 100%; }

.carousel-item { transition: transform 0.6s ease-in-out; }
.testimonial-item { background-color: #fff; padding: 20px; border: 1px solid #ddd;}
.carousel-controls-container { display: flex; justify-content: center;}
.custom-prev, .custom-next { position: static; }
.carousel-control-prev .custom-icon, .carousel-control-next .custom-icon { color: white; background-color: #007bff; padding: 4%; }

.card { border-radius: 10px; box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); }
.card img { width: 100%; height: auto; }
.card-body { padding: 20px; }
.card-body a { text-decoration: none; font-weight: 700; }
.social-icons { display: flex; flex-direction: column; gap: 10px; padding: 10px; background-color: #000; color: #fff; justify-content: center; align-items: center; }
.social-icons a { color: #fff; font-size: 1.2em; text-decoration: none; }
.card-text { color: #666; font-size: 1.1rem;}
.social-icons { background-color: black; transition: background-color 0.3s ease;}
.card:hover .social-icons { background-color: #007bff; }
.card-body .date-line { display: block; width: 50%; height: 2px; background-color: #007bff; margin: 10px 0; transition: width 0.3s ease; }
.card:hover .date-line { width: 100%; }
.card { overflow: hidden; }
.card img { transition: transform 0.3s ease; will-change: transform; }
.card:hover img { transform: scale(1.1); }

.client-section { padding: 50px 0; background-color: #f8f9fa; }
.client-title { font-size: 2rem; font-weight: bold; text-align: center; margin-bottom: 30px; }
.client-logo { background-color: white; padding: 20px; border: 1px solid #e5e5e5; border-radius: 8px; text-align: center; margin-bottom: 20px; }
.client-img { max-width: 100%; height: auto; border-radius: 8px;}


.popular-tags { display: flex; flex-wrap: wrap; gap: 10px; }
.tag { background-color: #f1f1f1; color: #333; padding: 5px 15px; border-radius: 20px; font-size: 0.9rem; text-align: center; transition: background-color 0.3s ease; }
.tag:hover { background-color: #007bff; color: white; cursor: pointer; }
