*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    background-color: #11cfcf;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
}

h1{
    text-align: center;
    font-weight: 800;
    font-size: 2.4rem;
    margin: 2%;
}

section{
    display: flex;
    width: 100%;
}

.form{
    width:45%;
    margin: 0 4%;
}

input{
    font-size: 1rem;
    padding: 3% 50% 3% 2%;
    margin: 1.5% 0;
    border: none;
    border-radius: 5px;
}

.company-phone{
    margin-right: 2%;
    padding-right: 8.6%;
}

.message{
    padding-bottom: 10%;
}

.btn{
    background-color: yellow;
    padding: 2.3%;
    border: 3px solid rgb(255, 255, 103);
    margin: 0 56.5%;
}

.contact{
    margin: auto;
}

h2{
    font-weight: 300;
    padding-bottom: 2%;
    font-size: 2rem;
    font-weight: 100;
}

.yellow{
    color: yellow;
    padding-bottom: 4%;
}
