
*{  padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Montserrat", sans-serif; }

.h{ width: 45%; }

.q{ width: 15%; }

.py-1{padding: 5% 0;}

.flex{ display: flex; }

.container{ width: 97%;
    margin: 0.5% auto; }

body{
    background-color: rgb(250, 250, 250);
}

.card{ height: 85vh;
    width: 100%;
    background-image: url(img/hero.jpeg);
    background-size: 100% 100%;
    background-position: center;
    background-repeat: no-repeat;
    position: relative; }

.overlay{ top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    position: absolute;
    z-index: 1; }

.navbar{ color: white;
    position: absolute;
    z-index: 2;
    top: 0;
    left: 0;
    width: 100%;
    margin: 2% 10%; }

.BrandName{ margin-top: -0.3%; }

.navbar h3{ font-size: 1.4rem; }

.links a{ padding: 0 2%;
    color: white;
    text-decoration: none; }

.navbar .btn{ margin-left: 1.5%;
    background-color: #23A6F0;
    display: inline-block;
    padding: 1rem 1rem;
    border-radius: 6px;
    margin-top: -2.3%;
    font-weight: 600; }

.main-content{ position: absolute;
    color: white;
    z-index: 2;
    width: 50%;
    top: 30%;
    left: 25%;
    text-align: center; }

.main-content h2{ font-size: 2.5rem;
    margin: 5% 0; }

.main-content p{ font-size: 1rem;
    margin: 5% 0; }

.main-content a{ color: white;
    text-decoration: none; }

.btn1{background-color: #23A6F0;
    padding: 2%;
    border-radius: 25px;
    font-weight: 600;
    margin-right: 2%; }

.btn2{ border: 1px solid white;
    padding: 2%;
    border-radius: 25px; }

.row{ position: absolute;
    width: 70%;
    z-index: 2;
    top: 88%;
    display: flex;
    justify-content: space-around;
    margin-left: 15%;
}

.row .div1{ padding: 3%;
    background-color: white;
    color: black; }

.row .div2{ padding: 3%;
    background-color: #23A6F0;
    color: black; }